<div class="main-content">
  <ul>
    <li *ngFor="let elem of list.categories"> {{ elem.title }}</li>
  </ul>
</div>

<table>
    <thead>
        <tr>
          <th>
            {{ list2.values() }}
          </th>
          <th>
            {{ getID(list.categories[0]) }}
          </th>
        </tr>
    </thead>
    <tbody>
  <tr *ngFor="let elem of list.categories">
        <th>
          {{ elem.id }}
        </th>
        <td>
          {{ elem.title }}
        </td>
      </tr>
  </tbody>
</table>




