
<div class="main-content">
  <div class="container-fluid">
      <div class="card card-plain">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Material Design Icons</h4>
              <p class="card-category">Handcrafted by our friends from

              </p>
          </div>
          <div class="row">
            <div class="sidebar-wrapper">
              <ul class="nav navbar-nav nav-mobile-menu">
                <li class="nav-item">Somthing


                </li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</div>
