<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
</head>
<body>
<header>
<h1>{{ title }}</h1>
  <nav>
    <ol>
      <li>
        <a routerLink="/home">Homepage</a>
    </li>
      <li>
        <a routerLink="/laptop">Laptop</a>
      </li>
      <li>
        <a routerLink="/desktop">Desktop</a>
      </li>
      <li>
        <a routerLink="/product">Product</a>
      </li>
    </ol>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>


</body>
</html>
