<form class="card"
    [formGroup]="form"
      (ngSubmit)="onSubmit()"
>
  <div class="class-content">
    <span class="card-title">Войти в систему</span>
    <div class="input-field">
      <input
        formControlName="email"
        id="email"
        type="email">
      <label for="email">Email:</label>
      <span class="helper-text red-text">Error</span>

    </div>
    <div class="input-field">
      <input
        formControlName="password"
        id="password"
        type="password"
      >
      <label for="password">Пароль:</label>
    </div>
  </div>
  <div class="card-action">
    <button
      type="submit"
      [disabled]="form.invalid"
    >Войти

    </button>
  </div>

</form>
