<nav class="first-screen__menu">
  <input type="checkbox" class="nav-burger" id="burger">
  <label for="burger" class="burger">
    <span></span>
  </label>
  <ul class="first-screen__list first-screen__list-burger">
    <li class="first-screen__link"><a  routerLink="/home">На головну</a></li>
    <li class="first-screen__link"><a  routerLink="/home">пропозиції</a></li>
    <li class="first-screen__link"><a  routerLink="/home">доставка</a></li>
    <li class="first-screen__link"><a  routerLink="/home">відгуки</a></li>
    <li class="first-screen__link"><a  routerLink="/home">контакти</a></li>
  </ul>
</nav>
