ul li{
  list-style: none;
}
.first-screen__menu{
  margin-left: 15px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.first-screen__list {
  display: flex;
  align-items: center;
}

.first-screen__link + .first-screen__link {
  padding-left: 42px;
}

.first-screen__link{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  font-family:Roboto;
  padding-left: 40px;
  color: #000000;

}

.nav-burger{
  opacity: 0;
}

.burger{
  visibility: hidden;
}
